body {
    background-color: #fff; 
    color: #666;
    font-family: 'Merriweather', sans-serif;
    padding: 3em;
    padding-left: 10em;
    padding-bottom: 4em;
    max-width: 820px;
}

h1, h2 {
    color: #999;
}

h2 {
    margin-top: 5em;
    margin-bottom: 2em;
}

a, a:link, a:visited, a:active {
    color: #008CB4;
    text-decoration: none;
}

a:hover {
    color: #08c9ff;
    text-decoration: none;
}

p {
    line-height: 1.7em;
}

.title {
    font-weight: 300;
    font-size: 4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 300;
}

.list-heading {
    margin: 0em 0em 1em 0em;
    color: #999;
    font-weight: bold;
}

.list-item {
    margin: 0.4em 1em;
    font-size: 0.9em;
}

.header-link {
    margin-left: 0.2em !important;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3em;
    justify-content: flex-start;   
    /* align-items: center; */
}

.header-wrapper p {
    margin: 0.8em;
}

.header-wrapper :first-child {
    margin-left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0em 2em;
}

.box {
    flex: 1 1 auto;
    width: 100%;
    margin: 0.5em 0em 1em 0em;
}

.box p {
    line-height: 1.2em;
}

ul {
    display: inline-block;
    vertical-align: top;
    list-style: circle;
}

.footer {
    margin-top: 3.5em;
}

/* Small screens */
@media (max-width: 500px) {
    body {
        padding: 0.5em;
    }
    .header-wrapper {
        flex-direction: column;
    }
    .header-wrapper p {
        align-self: flex-end;
    }
    .wrapper {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
  }
